@{
    Layout = "~/Shared/Views/_Layout.cshtml";
}

<div class="Error">
    <table class="tablaError">
        <tr><td colspan="2" class="labelError">===== ERROR 404 =====</td></tr>

        <tr><td colspan="2">@Session["errorInfo"]</td></tr>
    </table>
</div>
<style>
   
</style>
<script>
    function funReady() {

    }
</script>